.whoarewe {
  display: flex;
  align-items: center;
  gap: 7rem;
  padding-bottom: 10rem;
}
.whoarewe1 {
  margin-bottom: 8rem;
}
.whoarewe .whotext {
  max-width: 563px;
}

.whoarewe .whotext h2 {
  color: #cc9964;
  font-size: 6rem;
  line-height: 3.4rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

.whoarewe .whotext p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #00543d;
}

.whoarewe .whoimg {
  flex: 1;
  height: 490px;
}
.history .history__title h2 {
  color: #cc9964;
  margin-bottom: 6rem;
  font-size: 6rem;
}

.history__box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: scroll;
  padding-bottom: 3rem;
}

.history__box::-webkit-scrollbar {
  background-color: #7d7d7d77;
  border-radius: 2rem;
}

.history__box::-webkit-scrollbar-thumb {
  color: #fff;
  background-color: #cc9964;
  width: 5rem;
  opacity: 0.5;
  border-radius: 2rem;
}

.box {
  gap: 32px;
  display: flex;
  min-width: 37rem;
  flex-shrink: 0;
  overflow: hidden;
}

.box h3 {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: end;
  color: #00543d;
  font-size: 7rem;
  font-weight: 700;
  opacity: 0.4;
}

.box .box__img {
  max-width: 287px;
}

.box p {
  color: #00543d;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.box img {
  height: 151px;
  margin-bottom: 2rem;
}

.box__group {
  display: flex;
  flex-direction: column;
}

.box__group-top {
  position: relative;
  display: flex;
  gap: 3.7rem;
}

.box__group-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #cc9964;
  opacity: 0.5;
}

.box-1 {
  padding-right: 5rem;
  margin-top: 6.45rem;
}

.box__group-bottom {
  display: flex;
  gap: 15rem;
}

.box-2 {
  position: relative;
  padding-bottom: 5rem;
}
.box__group-top > .box {
  position: relative;
  padding-right: 10rem;
  padding-left: 3rem;
}

.box__group-top > .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  background-color: #cc9964;
  height: 100%;
  opacity: 0.5;
}

.box {
  min-width: 37rem;
}

.box__group-bottom {
  padding-left: 150px;
}

.box__group-bottom > .box {
  position: relative;
  padding-left: 3rem;
  padding-top: 10rem;
}

.box__group-bottom > .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  background-color: #cc9964;
  height: 65%;
  opacity: 0.5;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .whoarewe {
    flex-direction: column;
    gap: 2.5rem;
  }
  .whoarewe .whoimg {
    height: 254px;
    flex: auto;
    width: 100%;
  }

  .whoarewe1 {
    margin: 0;
  }

  .whoarewe .whotext {
    max-width: 100%;
  }
  .whoarewe:last-child {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .whoarewe .whotext h2 {
    font-size: 4.4rem;
  }


  .history .history__title h2 {
    font-size: 4.4rem;
  }

  .box {
    gap: 15px;
    min-width: auto;
  }

  .box h3 {
    font-size: 3.6rem;
  }
  .box p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .history__box {
    gap: 0;
  }
  .box .box__img {
    max-width: 146px;
  }
  .box img {
    height: 77px;
  }
  .box-1 {
    padding-right: 2rem;
  }
  .box__group-top > .box {
    padding-right: 3rem;
  }
  .box__group-bottom > .box {
    padding-top: 5rem;
  }
}
