.contact .contact__menu {
  display: flex;
  align-items: center;
  gap: 100px;
}

.contact__menu .social {
  display: flex;
  flex: 1;
  margin-left: 130px;
  flex-direction: column;
  gap: 4.4rem;
}

.contact__menu .social ul li {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact__menu .social ul li a {
  font-size: 1.5rem;
  color: #00543d;
}

.contact__menu .social ul li i {
  font-size: 2.3rem;
  color: #00543d;
}

.contact__menu .contact__map {
  max-width: 790px;
  width: 100%;
  height: 374px;
}

@media screen and (max-width: 1024px) {
    .contact__menu .social{
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .contact__menu{
        flex-wrap: wrap;
    }
}