header .header__title {
  display: flex;
  padding-top: 12rem;
}

header .header__title .main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12.7rem;
}

header .header__title .main__title h2 {
  font-size: 9rem;
  color: #ffffff;
  font-weight: 500;
}

header .header__title .main__title .title__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

header .header__title .main__title .title__buttons .watch__button {
  color: #fff1d4;
  font-size: 2.4rem;
  font-weight: 300;
  text-decoration: underline;
}

header .header__title .main__title .title__buttons .learn__button {
  border-radius: 70px;
  padding: 10px 38px;
  color: #fff1d4;
  gap: 10px;
  font-size: 2.4rem;
  background-color: #cc9964;
}

header .header__title .main__title-img {
  z-index: 1;
  position: relative;
}

header .header__title .main__title-img img {
  z-index: 99;
  position: relative;
}

.about {
  padding-top: 7.6rem;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10.7rem;
}

.about .about__text {
  flex: 1;
}

.about .about__text h2 {
  font-size: 9rem;
  color: #cc9964;
  font-weight: 600;
}

.about .about__text p {
  font-size: 1.6rem;
  color: #00543d;
  line-height: 2.4rem;
  padding-left: 11.7rem;
}

.about .about__img {
  flex: 1;
}

.about .about__buttons {
  display: flex;
  gap: 2rem;
  padding-top: 3rem;
  align-items: center;
  padding-left: 11.7rem;
}

.about .about__buttons .wathc__button {
  color: #00543d;
  font-size: 2.4rem;
  font-weight: 300;
  text-decoration: underline;
}

.about .about__buttons .learn__button {
  border-radius: 70px;
  padding: 10px 38px;
  color: #fff1d4;
  gap: 10px;
  font-size: 2.4rem;
  background-color: #00543d;
}

.services .services__text h2 {
  font-size: 9rem;
  color: #cc9964;
  font-weight: 600;
}

.services .services__text p {
  font-size: 1.6rem;
  color: #00543d;
  max-width: 44.7rem;
  line-height: 2.4rem;
  padding-bottom: 2rem;
}

.services .services__text .learn__button {
  border-radius: 70px;
  padding: 10px 38px;
  color: #fff1d4;
  gap: 10px;
  font-size: 2.4rem;
  background-color: #00543d;
}

.services .services__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services .services__more i {
  background-color: #00543d;
  font-size: 3.4rem;
  color: #fff1d4;
  border-radius: 50%;
  padding: 1rem;
}

.services .services__more .services__arrow {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.services .services__more .services__arrow i {
  cursor: pointer;
}

.swiper .service__card {
  margin-top: 6rem;
  height: 31.6rem;
  position: relative;
}

.swiper .service__card img {
  border-radius: 3rem;
  object-fit: cover;
  position: relative;
}

.slide__opacity {
  position: absolute;
  backdrop-filter: blur(10px);
  opacity: 80%;
  height: 93.28px;
  z-index: 99;
  text-align: center;
  color: #fff;
  bottom: 0;
  font-size: 2.8rem;
  left: 0;
  width: 100%;
  gap: 0px;
  border-radius: 0px 0px 30px 30px;
}

.products {
  padding-top: 16rem;
}

.products .products__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products .products__text a {
  color: #00543d;
  font-size: 2.4rem;
  text-decoration: underline;
  font-weight: 300;
}

.products .products__text h2 {
  font-size: 9rem;
  color: #cc9964;
  font-weight: 600;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2rem;
}

.products__list .product {
  border: 2px solid #cc9964;
  border-radius: 50px;
  padding: 40px 40px 80px 40px;
}

.products__list .product .product__img {
  width: 17.8rem;
  margin: 0 auto;
}

.products__list .product .product__text h3 {
  font-size: 2.8rem;
  color: #00543d;
  text-align: center;
}

.team {
  margin-top: 10rem;
}

.team .team__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team .team__text h2 {
  color: #cc9964;
  font-size: 9rem;
  font-weight: 600;
  padding-bottom: 6rem;
}

.team .team__text i {
  background-color: #00543d;
  font-size: 3.4rem;
  color: #fff1d4;
  border-radius: 50%;
  padding: 1rem;
}

.team__arrow {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.team__arrow i {
  cursor: pointer;
}
.team__card {
  display: flex;
  align-items: center;
  background-color: #00543d;
  border-radius: 4rem;
  padding: 2.6rem 2.5rem;
}

.team__card > div {
  flex: 1;
}

.team__card-text h3 {
  font-size: 2.4rem;
  color: #fff1d4;
  padding-bottom: 2rem;
}

.team__card-text p {
  font-size: 1.4rem;
  color: #fff1d4;
  line-height: 2.5rem;
  padding-bottom: 3rem;
}

.team__card-img {
  height: auto;
}

.see__more {
  text-align: end;
  margin-top: 3rem;
}
.see__more a {
  font-size: 2.4rem;
  color: #00543d;
  text-decoration: underline;
}

.contact .contact__text h2 {
  color: #cc9964;
  font-size: 9rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact .contact__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact__menu .social {
  display: flex;
  flex: 1;
  margin-left: 15rem;
  flex-direction: column;
  gap: 4.4rem;
}

.contact__menu .social ul li {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact__menu .social ul li a {
  font-size: 1.5rem;
  color: #00543d;
}

.contact__menu .social ul li i {
  font-size: 2.3rem;
  color: #00543d;
}

.contact__menu .contact__map {
  flex: 1;
}

@media screen and (max-width: 1272px) {
  header .header__title {
    flex-wrap: wrap;
  }

  header .header__title .main__title {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  header .header__title .main__title-img {
    margin: 0 auto;
  }
  .about .container {
    flex-direction: column;
  }
  .about .about__img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .about .container {
    flex-direction: column;
  }
  .about .about__img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  header nav .container .phone {
    display: none;
  }

  header .header__title .main__title-img img {
    border-radius: 0 0 30px 30px;
  }

  header .header__title {
    flex-wrap: wrap;
  }

  header nav .container .nav ul {
    display: none;
  }

  header .header__title .main__title h2 {
    font-size: 4.4rem;
    margin-bottom: 4rem;
  }

  header .header__title .main__title {
    padding: 0 2rem;
  }

  header .header__title .main__title .title__buttons .learn__button {
    margin-bottom: 3rem;
  }

  header .header__title .main__title .title__buttons .wathc__button {
    margin-bottom: 3rem;
  }

  header .header__title .main__title-img {
    height: 473px;
  }

  .about .about__text h2 {
    font-size: 4.4rem;
  }

  .about .about__text p {
    padding: 0;
  }

  .about .about__buttons {
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .about .about__buttons .learn__button {
    width: 100%;
    text-align: center;
  }

  .about .about__img {
    flex: auto;
  }

  .services .services__text h2 {
    font-size: 4.4rem;
  }

  .services .services__text p {
    margin-bottom: 3rem;
  }

  .services .services__more .services__arrow {
    display: none;
  }

  .products__list {
    display: flex;
    flex-direction: column;
  }

  .products__list .product {
    padding: 20px 20px 40px 20px;
  }

  .products .products__text h2 {
    font-size: 4.4rem;
    padding-bottom: 3rem;
  }

  .products .products__text a {
    display: none;
  }

  .products {
    padding-top: 9rem;
  }

  .team .team__text h2 {
    font-size: 4.4rem;
  }

  .team__arrow {
    display: none;
  }

  .team__card-text h3 {
    font-size: 1.6rem;
  }

  .team__card-text p {
    font-size: 1rem;
  }
  .see__more {
    text-align: center;
  }

  .contact .contact__text h2 {
    font-size: 4.4rem;
    text-align: left;
    margin-top: 7rem;
  }

  .contact__menu .social {
    margin: 0;
  }

  .contact__menu .contact__map {
    flex: auto;
    margin-top: 6rem;
  }

  .contact {
    padding: 0;
  }

  .contact .container {
    max-width: 100%;
  }

  .contact .container .contact__text {
    padding: 0 2rem;
  }
  .contact .container .social {
    padding: 0 2rem;
  }

  header .header__title .main__title .title__buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  header .header__title {
    flex-wrap: wrap;
  }
  header .header__title .main__title {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
}
