.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2rem;
}

.products__list .product {
  border: 2px solid #cc9964;
  border-radius: 50px;
  padding: 40px 40px 80px 40px;
}

.products__list .product .product__img {
  width: 17.8rem;
  margin: 0 auto;
}

.products__list .product .product__text h3 {
  font-size: 2.8rem;
  color: #00543d;
  text-align: center;
}
