.product__detail {
  display: flex;
  gap: 198px;
  margin-top: 46px;
}

.product__text {
  flex: 1;
}

.product__text h2 {
  color: #cc9964;
  font-size: 6rem;
  margin-bottom: 60px;
}

.product__text p {
  color: #00543d;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.product__img {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .product__detail {
    flex-direction: column;
  }
  .product__img {
    height: 490px;
  }
}

@media screen and (max-width: 768px) {
  .product__text h2 {
    font-size: 4.4rem;
  }
}
