* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans", sans-serif;
  background-color: #fff1d4;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 90%;
}