.team__detail {
  display: flex;
  gap: 70px;
  margin-top: 46px;
}

.team__text {
  flex: 1;
}

.team__text h2 {
  color: #cc9964;
  font-size: 6rem;
  margin-bottom: 60px;
}

.team__text p {
  color: #00543d;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.team__img {
  flex: 1;
  height: 490px;
}

@media screen and (max-width: 1024px) {
  .team__detail {
    flex-direction: column;
  }
  .team__img {
    flex: auto;
    height: 254px;
  }
}
